# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# Google Services (e.g. APIs or Firebase)
google-services.json

# Custom
# Google API key and other resources
GoogleService-Info.plist
google-services.json
# Plugins (already resolved through pubspec.yaml)
ios/Runner.xcodeproj/project.pbxproj

.idea
**/node_modules/*
**/.firebase
**/.firebaserc
**/.runtimeconfig.json
*/npm-debug.log
lerna-debug.log
*~
service-account-credentials.json
**/package-lock.json
# keep the root package-lock so that tools are consistent
!/package-lock.json
**/ui-debug.log
**/database-debug.log
**/firebase-debug.log
**/pubsub-debug.log
**/tsconfig-compile.json
yarn.lock